body {
    background-color: #202124;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
    height: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
    font-size: 0.85em;
    margin-top: 5px;
}

.background {
    display: flex;
    align-items: center;
}

.background:hover{
    background-color: #5f636841;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

#apps {
    width: 25px;
    height: 25px;
    cursor: pointer;
    padding: 0 10px;
}

#perfil {
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 50%;
}


.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

#logo {
    width: 550px;
    height: 210px;
}

.procura {
    margin-top: 50px;
    border: 1px solid #5f6368;
    border-radius: 30px;
    line-height: 60px;
    background: transparent;
    width: 650px;
    height: 50px;
    outline: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.procura:hover {
    background-color: #3e40428a;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.363);
    padding: 1px 0;
}

.procura input {
    border: none;
    background-color: transparent;
    line-height: 60px;
    width: 750px;
    height: 60px;
    padding-left: 15px;
    font-size: 1.1em;
    outline: none;
    color: white;
}

#lupa, #teclado, #camera{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#lupa {
    padding-left: 20px;
}

#camera {
    padding: 25px;
}

.div-botoes {
    padding-top: 30px;
}

.botoes {
    background-color: #303134;
    color: white;
    border: none;
    font-size: 0.9em;
    padding: 13px;
    border-radius: 5px;
    margin: 0 7px;
    cursor: pointer;
}

#linha {
    width: 100%;
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.192);
}

footer {
    background-color: #121313c9;
    width: 100vw;
    margin-left: -8px;
    bottom: 0;
    position: fixed;
    color: rgba(255, 255, 255, 0.562);
    font-size: 0.9em;
}

.flex-container2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.div-lista {
    padding: 15px;
}

.lista {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
    padding-bottom: 0;
    cursor: pointer;
}

.lista2 {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
    padding-bottom: 0;
    justify-self: end;
    cursor: pointer;
}

hr {
    border: 0.1px solid rgba(255, 255, 255, 0.411);
}

footer p {
    padding-left: 25px;
    cursor: pointer;
}